// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

._full-width {
  width: 100%;
  box-sizing: border-box;
}

._max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

._pull-right {
  float: right;
}

._pull-left {
  float: left;
}
