/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

.container {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

// For devices larger than 400px
@media (#{$bp-larger-than-mobile}) {
  .container {
    width: $container-width-larger-than-mobile;
    padding: 0;
  }
}

// For devices larger than 550px
@media (#{$bp-larger-than-phablet}) {
  .container {
    width: $container-width-larger-than-phablet;
  }
  .column {
    margin-left: $column-margin;
  }
  .column:first-child {
    margin-left: 0;
  }

  .column.-one            { width: grid-column-width(1);  }
  .column.-two            { width: grid-column-width(2);  }
  .column.-three          { width: grid-column-width(3);  }
  .column.-four           { width: grid-column-width(4);  }
  .column.-five           { width: grid-column-width(5);  }
  .column.-six            { width: grid-column-width(6);  }
  .column.-seven          { width: grid-column-width(7);  }
  .column.-eight          { width: grid-column-width(8);  }
  .column.-nine           { width: grid-column-width(9);  }
  .column.-ten            { width: grid-column-width(10); }
  .column.-eleven         { width: grid-column-width(11); }
  .column.-twelve         { width: 100%; margin-left: 0;  }

  .column.-one-three      { width: grid-column-width(4);  }
  .column.-two-three      { width: grid-column-width(8);  }

  .column.-one-two        { width: grid-column-width(6);  }


  // Offsets

  .column.-offset-one       { margin-left: grid-offset-length(1);  }
  .column.-offset-two       { margin-left: grid-offset-length(2);  }
  .column.-offset-three     { margin-left: grid-offset-length(3);  }
  .column.-offset-four      { margin-left: grid-offset-length(4);  }
  .column.-offset-five      { margin-left: grid-offset-length(5);  }
  .column.-offset-six       { margin-left: grid-offset-length(6);  }
  .column.-offset-seven     { margin-left: grid-offset-length(7);  }
  .column.-offset-eight     { margin-left: grid-offset-length(8);  }
  .column.-offset-nine      { margin-left: grid-offset-length(9);  }
  .column.-offset-ten       { margin-left: grid-offset-length(10); }
  .column.-offset-eleven    { margin-left: grid-offset-length(11); }


  .column.-offset-one-three   { margin-left: grid-offset-length(4);  }
  .column.-offset-two-three   { margin-left: grid-offset-length(8);  }

  .column.-offset-one-two     { margin-left: grid-offset-length(6);  }


}

// Clearing
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Self Clearing Goodness

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
